# Exempelfil för lokala miljövariabler
# Kopiera till .env.local och fyll i egna värden
# Notera att dessa behöver ligga i .gitlab-ci.yml också för att vara tillgängliga på GitLab Pages
# (alternativt om man har tillräckliga rättigheter ska man kunna sätta dem i GitLabs UI för CI/CD-miljövariabler)
VITE_DATABASE_URL="DATABASE_URL_HERE"
VITE_DATABASE_KEY="DATABASE_KEY_HERE"
VITE_REQUIREMENTS_URL="REQUIREMENTS_URL_HERE"
VITE_REQUIREMENT_ADDITIONS='{
"heading": "Arbetsförmedlingens tillägg",
"items": [
    {
        "id": "jtin",
        "text": "Kravet är uppfyllt om tjänsten använder myndighetens teknik för enkel inloggning och användarautentisering, så kallad single sign-on."
    }
]}'
VITE_PREFILL_REQUIREMENTS='[
    {
        "id": "1",
        "automatic": "false",
        "activateText": "Text som visas i UI där användaren kan aktivera förifyllnad",
        "prefillRequirements": [
            {
                "id": "id2",
                "status": "PASS",
                "comment": "Detta krav har förifyllts som godkänt eftersom ..."
            }
        ]
    },
    {
        "id": "2",
        "automatic": "true",
        "activateText": "",
        "prefillRequirements": [
            {
                "id": "id2",
                "status": "IRRELEVANT",
                "comment": "Detta krav har förifyllts som irrelevant eftersom ..."
            }
        ]
    }
]'