# Exempelfil för lokala miljövariabler
# Kopiera till .env.local och fyll i egna värden
VITE_APPLICATION_TITLE="Granska tillgänglighet"
VITE_DATABASE_URL="DATABASE_URL_HERE"
VITE_DATABASE_KEY="DATABASE_KEY_HERE"
VITE_REQUIREMENTS_URL="REQUIREMENTS_URL_HERE"
VITE_REQUIREMENT_ADDITIONS='{
"heading": "Arbetsförmedlingens tillägg",
"items": [
    {
        "id": "jtin",
        "text": "Kravet är uppfyllt om tjänsten använder myndighetens teknik för enkel inloggning och användarautentisering, så kallad single sign-on."
    }
]}'
VITE_PREFILL_REQUIREMENTS='[
    {
        "id": "1",
        "automatic": "false",
        "heading": "Valfri rubrik",
        "description": "Valfri beskrivningstext som förklarar för användaren vad förifyllnad innebär.",
        "activateText": "Text som visas i UI där användaren kan aktivera förifyllnad",
        "prefillRequirements": [
            {
                "ids": ["id1", "id2"],
                "status": "PASS",
                "comment": "Detta krav har förifyllts som godkänt eftersom ..."
            }
        ]
    },
    {
        "id": "2",
        "automatic": "true",
        "activateText": "",
        "prefillRequirements": [
            {
                "ids": ["id3","id4"],
                "status": "IRRELEVANT",
                "comment": "Detta krav har förifyllts som irrelevant eftersom ..."
            },
            {
                "ids": ["id5", "id6"],
                "status": "PASS",
                "comment": "Detta krav har förifyllts som godkänt eftersom ..."
            }
        ]
    }
]'