# Måste kolla upp denna
ORACLE_PWD=tillganlighet
NODE_ENV=production

# Olika i test och prod
DB_USER=tillganglighet
DB_PASSWORD=tillganglighet

# Olika i dev, acc och prod
DB_CN=tillganglighetdb-utv

# Olika lokalt och i poddarna i Poddarna blir det /opt/oracle/instantclient_21_13
DB_ORACLE_PATH=C:\Program Files\instantclient_23_0
EXTERNAL_REQUIREMENTS_URL=https://data.arbetsformedlingen.se/accessibility/latest/accessibility-requirements.json