SERVER_NAME=http://tillganglighet.local.arbetsformedlingen.se:8081
PROVIDER_METADATA_URL=https://ciam.arbetsformedlingen.se/uas/.well-known/openid-configuration
OIDC_CLIENT_ID=Får vi från CIAM
OIDC_CLIENT_SECRET=Får vi från CIAM
OIDC_CRYPTO_PASSPHRASE=best-secret-ever
REDIRECT_URI=http://tillganglighet.local.arbetsformedlingen.se:8081/login