@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

@import 'tailwindcss';

@theme {
  --color-text: var(--digi--typography--color--text);

  --color-stratos-500: var(--digi--stratos-500);

  --color-leaf-200: var(--digi--leaf-200);

  --color-grayscale-100: var(--digi--grayscale-100);
  --color-grayscale-200: var(--digi--grayscale-200);
  --color-grayscale-400: var(--digi--grayscale-400);
  --color-grayscale-700: var(--digi--grayscale-700);

  --color-sapphire-500: var(--digi--sapphire-500);
}

.content-container {
  @apply p-6 w-full max-w-screen overflow-x-auto;
}

.content-container--white {
  @apply bg-white my-6;
}

.content-container--largest {
  @apply w-full min-[87.5rem]:max-w-[87.5rem]; /* [var(--digi--container-width--largest)] */
}

.content-container ul {
  @apply list-disc pl-5;
}

.content-container ol {
  @apply list-decimal pl-5;
}

.content-container li {
  @apply mb-2;
}

svg {
  @apply !max-w-full !max-h-full min-w-[var(--digi--icon--width)];
}

/* CategoryNav */
.expand-category {
  svg {
    --digi--icon--color: var(--color-sapphire-500);
  }
}

.expand-category:hover {
  @apply cursor-pointer;
  svg {
    --digi--icon--color: #fff;
  }
}
/* --- */

.cards-or-table {
  .digi-button--variation-function {
    @apply !p-0;
  }
  .sc-digi-link {
    @apply max-w-full wrap-anywhere;
  }
}

.cards-or-table__filters {
  [type='search'] {
    @apply md:min-w-[20rem];
  }
  .digi-button {
    @apply justify-self-stretch !justify-center;
  }
  .digi-form-filter__dropdown {
    @apply w-full;
  }
}

.sort-button--active {
  svg {
    --digi--icon--color: var(--color-sapphire-500);
  }
}

.sort-button .sc-digi-icon-caret-up-h,
.sc-digi-icon-caret-down-h {
  @apply min-h-0;
}

.digi-link-button__text {
  @apply !whitespace-normal !sm:whitespace-nowrap;
}
