@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

@import 'tailwindcss';

@theme {
  --color-text: var(--digi--typography--color--text);

  --color-stratos-500: var(--digi--stratos-500);

  --color-leaf-200: var(--digi--leaf-200);

  --color-grayscale-100: var(--digi--grayscale-100);
  --color-grayscale-200: var(--digi--grayscale-200);
  --color-grayscale-700: var(--digi--grayscale-700);
}

.content-container {
  @apply p-6 w-full max-w-screen overflow-x-auto;
}

.content-container--white {
  @apply bg-white my-6;
}

.content-container--largest {
  @apply w-full min-[87.5rem]:max-w-[87.5rem]; /* [var(--digi--container-width--largest)] */
}

.content-container ul {
  @apply list-disc pl-5;
}

.content-container ol {
  @apply list-decimal pl-5;
}

.content-container li {
  @apply mb-2;
}

svg {
  @apply !max-w-full !max-h-full;
}
